body {
    background: #1d1d1d;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);
}