

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}